@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

.group:hover .group-hover\\:opacity-100 {
    opacity: 1;
  }
  
  .red-marker {
    filter: hue-rotate(0deg) saturate(3) brightness(0.9);
  }
  
  .blue-marker {
    filter: hue-rotate(240deg) saturate(3) brightness(0.9);
  }
  
  .green-marker {
    filter: hue-rotate(120deg) saturate(3) brightness(0.9);
  }
  
  @keyframes text-fill {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  
  .text-fill {
    background: linear-gradient(270deg, #ffffff, #848484, #000000);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: text-fill 4s ease infinite;
  }
  @import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';

  